<div class="">
  <div class="card-header text-center">
    <strong>Recipe Details</strong>
  </div>
  <div class="card-body">

    <br>

    <!-- Image Section -->
    <div class="form-group mb-3 text-center">
      <img [src]="recipe.imagePath ? recipe.imagePath : '/assets/images/Image_not_available.png'"  alt="{{ recipe.name }}" class="img-fluid"
        style="max-width: 800px; border-radius: 10px;">
    </div>

    <!-- Name Section -->
    <div class="form-group mb-3">
      <label style="font-weight: bold;">Name:</label>
      <p class="form-control-plaintext">{{ recipe.name }}</p>
    </div>

    <!-- Category Section -->
    <div class="form-group mb-3">
      <label style="font-weight: bold;">Category:</label>
      <p class="form-control-plaintext">{{ recipe.category?.name }}</p>
    </div>

    <!-- Description Section -->
    <div class="form-group mb-3">
      <label style="font-weight: bold;">Description:</label>
      <p class="form-control-plaintext">{{ recipe.description }}</p>
    </div>

    <!-- Ingredients Section -->
     <div class="form-group mb-3">
      <label style="font-weight: bold;">Ingredients:</label>
    <ul>
      <li *ngFor="let ingredient of ingredients">
        {{ ingredient.ingredient?.name }}: {{ ingredient.quantity }} {{ ingredient.unit?.name }}
      </li>
    </ul>
  </div>

    <!-- Preparation Method Section -->
    <div class="form-group mb-3">
      <label style="font-weight: bold;">Preparation:</label>
      <ol>
        <li *ngFor="let step of formatPreparationMethod(recipe.preparation)">
          {{ step }}
        </li>
      </ol>
    </div>


    <!-- Difficulty Section -->
    <div class="form-group mb-3">
      <label style="font-weight: bold;">Difficulty Level:</label>
      <p class="form-control-plaintext">{{ recipe.difficulty?.difficultyLevel }}</p>
    </div>

    <!-- Duration Section -->
    <div class="form-group mb-3">
      <label style="font-weight: bold;">Duration (minutes):</label>
      <p class="form-control-plaintext">{{ recipe.duration }} minutes</p>
    </div>

    <!-- Servings Section -->
    <div class="form-group mb-3">
      <label style="font-weight: bold;">Number of People:</label>
      <p class="form-control-plaintext">{{ recipe.pax }}</p>
    </div>

    <!-- User Section -->
    <div class="form-group mb-3">
      <label style="font-weight: bold;">Created by:</label>
      <p class="form-control-plaintext">{{ recipe.user?.name }}</p>
    </div>

    <!-- Status Section -->
    <div class="form-group mb-3">
      <label style="font-weight: bold;">Status:</label>
     <p><span [ngClass]="{
      'approved': recipe.approval === true,
      'rejected': recipe.approval === false,
      'pending': recipe.approval === null
    }">
      {{
        recipe.approval === true ? 'Approved' :
        recipe.approval === false ? 'Rejected' :
        'Pending'
      }}
    </span></p>
        
      
    </div>


    
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;">
      <button (click)="goBack()" class="btn btn-lg btn-secondary" style="margin: auto;">Back</button>
      <button (click)="deleteRecipe()" class="btn btn-lg btn-danger">Remove</button>
    </div>
    
    
    

    

    <br>


  </div>
</div>
